<div class="legend-container">
    <input type="text" class="legend-filter" placeholder="Filter locations...">

    <div class="legend-section">
        <h2 class="collapsible-header">Points of Interest</h2>
        <div class="collapsible-content">
            <ul class="hexmap-legend poi-legend">
                <li data-hex-id="Providence"><span class="explored">🔎</span><span class="cartographized">🗺️</span>Providence</li>
                <li data-hex-id="Abundance"><span class="explored">🔎</span><span class="cartographized">🗺️</span>Abundance</li>
                <li data-hex-id="Opulence"><span class="icon-non-explored">🔎</span><span class="icon-non-cartographized">🗺️</span>Opulence</li>
                <li data-hex-id="Repentance"><span class="icon-non-explored">🔎</span><span class="icon-non-cartographized">🗺️</span>Repentance</li>
                <li data-hex-id="Penitence"><span class="icon-non-explored">🔎</span><span class="icon-non-cartographized">🗺️</span>Penitence</li>
            </ul>
        </div>
    </div>

    <div class="legend-section">
        <h2 class="collapsible-header">Regions</h2>
        <div class="collapsible-content">
            <ul class="hexmap-legend region-legend">
                <li data-region-id="Abundance">Abundance Region</li>
                <li data-region-id="Rotipedes' Territory">Rotipedes' Territory</li>
            </ul>
        </div>
    </div>
</div>